/* Adjusting the margin,padding to make it look good. You can remove or change it according to your needs */
/* .header{
    margin-left: -15px;
    margin-right: -15px;
    border-top: 1px solid #000;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
} */

.header{
  
    margin-left: -15px;
    margin-right: -15px;
   /* border-top: 1px solid #000;   top border (page)*/
    padding-left: 00px;
    padding-top: 00px;
    padding-right: 00px;
    
    
/*padding-bottom: 10px;
       border-bottom: 1px solid #000;*/
}
table, th, td {
    border: 1px solid black;
  }
  table th, table td {
  width: auto;
  }
  table th {
  text-align: left;
} 

/* Adjusting the margin,padding to make it look good. You can remove or change it according to your needs */
.footer{

    margin-left: -15px;
    margin-right: -15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 00px;

   /* border-bottom: 1px solid #000;*/

    /* To Fix Footer overlapping page_border div */
   /* border-left: 1px solid #000;
    border-right: 1px solid #000;*/
}

/* Adjusting the margin,padding to make it look good. You can remove or change it according to your needs */


/*.page{
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 10px;
    padding-right: 10px;
  */  
/*padding-top: 31px;
       border-top: 1px solid #000;
padding-bottom: 0px;
*/
/*}*/
.page{
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 00px;
    padding-right: 00px;
    padding-top:25px;
}

.indented {
  padding-left: 0pt;
  padding-right: 5pt;
}



/* Magic happens here */
.page_border{
    border: solid;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    position: fixed;
    z-index: 9999;
/* If you don't get full page border, play around with the height */
    height: 302mm;
    left: 0px;
    top:0;
    width:100%
}

span.fonts_size,normal.fonts_size {
  font-size: 12px;
  font-family:Arial;
}

/* Header Logo Here,*/


/*table {*/
    /* background-color: #d9534f; */
 /*   border: 1px solid #000;
    font-size: 15px;
    background-color: #ffffff;;
    
}*/
/* .o_report_layout_boxed table tbody tr td:last-child {
    background-color: #ffffff;;
} */

/*.o_report_layout_boxed table tbody tr td:last-child {
    background-color: #ffffff;
}*/
