 .o_id_code_master_info_new ,th{
	text-align: left !important;
 
}
 

.sheet_size,sheet{

min-width: 210%;
max-width: 390%;
margin: 0 auto;




}
 
.form_size,form{

min-width: 210%;
max-width: 190%;
margin: 0 auto;
}
